{% extends 'base.html' %}
{% from'_recipe_btn.html' import recipe_btn %}
{% from'_recipe_btn.html' import recipe_btn_small %}


{% block content %}

    <!-- RECIPE OF THE WEEK -->
    <div class="container-fluid container-main">
        <h1 class="display-4 main-text text-center mt-5" style="background-image:url({{rotw.image}});">Recipe of the week</h1>
        <div class="jumbotron" id="recipe-of-the-week">
            {% for rotw in rotw %}
                <h2 class = "pb-3 text-center" id="rotw-title">{{ rotw.title}}</h2>
                    <img src={{rotw.image}} class="rotw-img" alt="recipe image">
                    <img src={{rotw.image_small}} class="rotw-img-small" alt="recipe image">
                <p class="mt-3 py-3 text-center" id="rotw-description">{{ rotw.description }}</p><br>

                {{ recipe_btn(rotw) }}

            {% endfor %}
        </div>
    </div>


    <!-- RECIPE SEARCH -->
    <div class="container mb-5">
        <hr>
        <h1 class="display-5 main-text text-center mt-5">wfpb recipes</h1>
        <div id="recipe-search">
            <h2 class="pb-3 text-center" id="rotw-title">explore & share</h2>
            <div class="row justify-content-center" id="search-row">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" id="card-search" method="POST" action="">
                        <div class="card-body row no-gutters align-items-center" id="card-search-body">
                            <div class="col">
                                <input class="form-control form-control-md form-control-search" name="recipe" placeholder="Search recipes" id="card-search-text">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-md btn-success" type="submit" id="card-search-text">Search</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% include 'revolution.html' %}


    <!-- MOST RECENT RECIPES -->
    <div class="container-fluid">
        {% for recipe in recipes %}
            <div class="recipes-container">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-3 card-img-container">
                            <img src={{recipe.image_small}} class="card-img recipe-img" alt="placeholder image">
                        </div>
                        <div class="col-md-8 card-contents">
                            <div class="card-body">
                                <h5 class="card-title">{{recipe.title}}</h5>
                                <p class="card-text">
                                    {{recipe.description}}
                                </p>
                                <div class="card-footer" id="submitted-by">
                                    <small class="text-muted">Submitted by {{recipe.username}} on {{recipe.date_added.strftime('%d-%m-%Y')}}</small>
                                </div>
                                <div>
                                {{ recipe_btn_small(recipe) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <hr class="my-5">
    </div>

    <!-- MOST POPULAR RECIPE -->
    <div class="container-fluid">
        <h1 class="display-4 main-text text-center mt-5" style="background-image:url({{mpr.image}});">Most Popular Recipe</h1>
        <div class="jumbotron" id="most-popular-recipe">
            {% for mpr in mpr %}
            <h2 class="pb-3 text-center" id="mpr-title">{{ mpr.title}}</h2>
            <img src={{mpr.image}} class="mpr-img" alt="placeholder image">
            <img src={{mpr.image_small}} class="mpr-img-small" alt="placeholder image">
            <p class="mt-3 py-3 text-center" id="mpr-description">{{ mpr.description }}</p>
            
            {{ recipe_btn(mpr) }}
            
            {% endfor %}
        </div>
    </div>
{% endblock content %}