<!-- CALL TO ACTION - JOIN THE REVOLUTION - SUBMIT YOUR RECIPE -->
<div class="container-fluid" id="revolution">
    <div class="container my-5">
        <h1 class="display-5 main-text text-center">Join the revolution</h1>
        <hr id="revolution_underline">
        <div id="revolution-inner-container">
            <p id="revolution_text">
                Dr. T. Colin Campbell has shown that heart disease, diabetes and obesity can be prevented and reversed
                using good nutrition. Help support our community achieve positive lifestyle changes by sharing your
                healthy whole-food, plant-based recipes.
            </p>
        </div>
        <div class="submit-recipe-wrapper mt-5 text-center">
            <a href="{{ url_for('submit_recipe') }}"><button class="btn btn-lg btn-outline-light"
                    id="submit-recipe">Submit your recipe</button></a>
        </div>
    </div>
</div>