{% extends 'base.html' %}
{% from '_recipe_page_base.html' import recipes_page %}


{% block content %}
    
    <!-- RECIPE SEARCH -->
    <div class="container mb-5">
        <hr>
        <h1 class="display-5 main-text text-center mt-5">wfpb recipes</h1>
        <div id="recipe-search">
            <h2 class="pb-3 text-center" id="rotw-title">explore & share</h2>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" id=card-search method="POST" action="">
                        <div class="card-body row no-gutters align-items-center" id="card-search-body">
                            <div class="col">
                            <input class="form-control form-control-md form-control-search" name="recipe" value="{{search_term}}" id="card-search-text">
                            </div>
                            <div class="col-auto">
                            <button class="btn btn-md btn-success" value="search" name="search" type="submit" id="card-search-text">Search</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="mb-5">
        <div>
            <form action="" method="post">
                <h3 class="text-center">Filter results</h3>
                <div class="form-row">
                    <div class="col input-group mb-3">
                        <select class="author-select" name="author_select" id="author_select">
                            <option>By author</option>
                            {% for author in authors %}
                                <option value="{{ author }}">{{author}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col btn-group-toggle text-center" data-toggle="buttons">
                        <label class="btn btn-md btn-toggle" id="popularity">
                            <input type="radio" id="popularity" name="popularity" autocomplete="off"> By popularity
                        </label>
                    </div>
                </div>
                <div class="col-auto text-center">
                    <button type="button" class="btn btn-outline-success">
                        <input type="submit" name="filter" value="Apply filter" id="btn-filter">
                    </button>
                </div>  
            </form>
        </div>
    </div>


    {% if filtered_recipes %}
        {{ recipes_page(filtered_recipes) }}
    {% elif pop_recipes %}
            {{ recipes_page(pop_recipes) }}
    {% elif recipes %}
        {{ recipes_page(recipes) }}
    {% else %}
        <!-- Catch feature for no search term entered AND no results returned -->
        <h1 class="text-center" id="search-none">Your search did not return any results!</h1>
        {% include 'revolution.html' %}
        <h1 class="text-center" id="search-none">Your search did not return any results!</h1>
    {% endif %}
    
{% endblock content %}