{% extends 'base.html' %}

{% block content %}

    <h4>Submit a recipe</h4>


    <form action="", method="POST">
        <!-- Creates a Cross Site Request Forgery token -->
        <div class="form-group mx-2">
            <label for="title">Recipe title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group mx-2">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>

        <div class="form-row col-12 mx-0 px-0">
            <div class="form-group col-1">
                <label for="quantity">Qty.</label>
                <input class="form-control form-control-lg" type="text" name="quantity">
            </div>
            <div class="form-group col-3">
                <label for="measurement">Measurement</label>
                <input class=" form-control form-control-lg" type="text" name="measurement">
            </div>
            <div class="form-group col-8">
                <label for="item">Item</label>
                <input class="form-control form-control-lg" type="text" name="item">
            </div>
        </div>

            










        <button type="submit" class="btn btn-primary">Submit</button>

        <!-- <div class="form-group mx-2">
            <button type="reset" class="btn btn-warning">Reset form</button>
        </div> -->
    </form>


    
{% endblock content %}
