body {
    margin: 0;
    padding: 0;
}

.add-ingredient {
    justify-content: right;
    margin-left: auto;
}

.alert {
    position: relative;
    text-align: center;
    width: 100%;
}

.btn_wrapper {
    position: relative;
}

.btn.home_rotw, .btn.home_rotw:active {
    background-color: #61a5a0;
    backface-visibility: hidden;
    border: 2px solid #61a5a0;
    box-shadow: 0 0 0.5rem black;
    color: white;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    transition: all 0.2s;
}

.home_rotw:hover {
    background-color: white;
    border: 2px solid #61a5a0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    color: #61a5a0;
    transform: translate(-50%, -1%)
}



.jumbotron {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.navbar, .navbar-brand, .nav-item {
    background-color: #61a5a0;
    color: white;
}

.recipes-container {
    margin-top: 5rem;
}

.rotw-img, .mpr-img {
    display: flex;
    margin: auto;
    width: 100%;
}