/* ELEMENTS */
body {
    margin: 0;
    padding: 0;
}


/* CLASSES */
.author {
    color: white;
}

.add-ingredient {
    justify-content: right;
    margin-left: auto;
}

.alert {
    position: relative;
    text-align: center;
    width: 100%;
}

.btn.home_rotw, .btn.home_rotw:active {
    background-color: #61a5a0;
    backface-visibility: hidden;
    border: 2px solid #61a5a0;
    box-shadow: 0 0 0.5rem black;
    color: white;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    transition: all 0.2s;
}

.btn-md#view-recipe-btn-small {
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
}

.btn-outline-dark {
    border: 1px solid #b54448;
    color: #b54448;
}

.btn-outline-dark:hover {
    border: 1px solid #b54448;
    background-color: #b54448;
    color: white;
}

.card {
    border: none;
    box-shadow: 0.9rem 0.8rem 2rem rgba(97, 165, 160, 0.5);
    padding: 10px;
}

.card-contents {
    position: relative;
}

.card-footer {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 70%;
}

.card-img {
    border-radius: 2%;
    margin: 2.5%;
    width: 95%
}

.card-img-container {
    border-radius: 2%;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5), 0.25rem 0.35rem 0.525rem rgba(0, 0, 0, 0.2);
    height: 120%;
    margin: 5px;
}

.card-text {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.card-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}


.content-container, .mpr-container {
    margin-top: 7rem;
}

.copyright {
    margin-left: 40%;
}

.copyright-link, .copyright-link:hover, .copyright-link:active {
    color: white;
    text-decoration: none;
}

.dummy-container {
    height: 100vh;
}

.fab {
    color: white;
}

.footer-nav-item {
    font-size: 1.2rem;
    list-style-type: none;
}

.home_rotw:hover {
    background-color: white;
    border: 2px solid #61a5a0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    color: #61a5a0;
    transform: translate(-50%, -1%)
}

.ingredients, .method {
    font-family: 'Raleway', sans-serif;
}

.ingredients ul {
    list-style-type: none;
    padding-left: 0;
}

.jumbotron {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    padding-top: 20px;
}

.jumbo-404 {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-text {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.navbar, .navbar-brand, .nav-item, .footer-outer-container {
    background-color: #61a5a0;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.recipes-container {
    margin-top: 5rem;
}

.rotw-img, .mpr-img {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5), 0.25rem 0.35rem 0.525rem rgba(0, 0, 0, 0.2);
    display: none;
    max-width: 70%;
}

.rotw-img-small, .mpr-img-small {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5), 0.25rem 0.35rem 0.525rem rgba(0, 0, 0, 0.2);
    display: flex;
    margin: auto;
    width: 100%;
}

.signlog-container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-media-container {
    text-align: center;
}

.title-404 {
    text-align: center;
}

/* IDs */
#prep_time, #cook_time, #servings {
    display: inline;
}

#recipe-search {
    padding: 20px;
}

#revolution {
    background-color: #61a5a0;
    color: white;
    margin: 2rem 0;
    padding: 2rem 0;
}

#revolution-inner-container {
    margin: auto;
    width: 80%;
}

#revolution_underline {
    border: 0.5px solid white;
    margin-bottom: 1rem;
}

#revolution_text {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    margin-top: 5rem;
    text-align: center;
}

#rotw-description, #mpr-description {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

#rotw-title, #mpr-title, #explore-title, #recipe-title {
    color: #b54448;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

#view-recipe-btn, #view-recipe-btn:visited {
    backface-visibility: hidden;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    transition: all 0.15s;
}

#view-recipe-btn:hover {
    box-shadow: 0.25rem 0.25rem 0.25rem  rgba(97, 165, 160, 0.7);
    transform: translate(-50%, -5%);
}

#view-recipe-btn:active {
    box-shadow: 0.125rem 0.125rem 0.125rem  rgba(97, 165, 160, 1);
    transform: translate(-50%, 0%);
}

