/* ELEMENTS */
body {
    margin: 0;
    padding: 0;
}


label#popularity.btn.btn-md.active.focus {
    background-color: white;
    border: 1px solid #b54448;
    box-shadow: none;
    color: #b54448;
}

ol li{
    font-size: 0.8rem;
    left: -15%;
    letter-spacing: .022em;
    margin-bottom: 30px;
    padding-left: 30px;
    position: relative;
}

ul li{
    font-size: 0.8rem;
}


/* CLASSES */
.accordion>.card>.card-header {
    background-color: transparent;
}

.accordion-button:hover, .accordion-button:active, .accordion-button:visited, .accordion-button:focus {
    text-decoration: none;
}

.add-ingredient {
    justify-content: right;
    margin-left: auto;
}

.alert {
    position: relative;
    text-align: center;
    width: 100%;
}

.author {
    color: white;
}

.author-select {
    width: 190px;
}

.btn.home_rotw, .btn.home_rotw:active {
    background-color: #61a5a0;
    backface-visibility: hidden;
    border: 2px solid #61a5a0;
    box-shadow: 0 0 0.5rem black;
    color: white;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    transition: all 0.2s;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 1rem;
}

.btn-md#view-recipe-btn-small {
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translateX(-50%);
}

.btn-outline-dark {
    border: 1px solid #b54448;
    color: #b54448;
}

.btn-outline-dark:hover {
    border: 1px solid #b54448;
    background-color: #b54448;
    color: white;
}

.card {
    border: none;
    box-shadow: 0.9rem 0.8rem 2rem rgba(97, 165, 160, 0.5);
    padding: 10px;
}

.card-contents {
    position: relative;
}

.card-footer {
    background-color: transparent;
    border-top: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 85%;
}

.card-img {
    border-radius: 2%;
    margin: 5%;
    width: 90%
}

.card-img-container {
    border-radius: 2%;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5), 0.25rem 0.35rem 0.525rem rgba(0, 0, 0, 0.2);
    height: 120%;
    margin: 5px;
}

.card-text {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.card-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.comments {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

.comments-container {
    border: 1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 1rem 1rem 1rem rgba(97, 165, 160, 0.5), 0.25rem 0.35rem 0.525rem rgba(97, 165, 160, 0.2);
    padding: 2%;
}

.comments-title {
    color: #b54448;
    font-size: 1rem;
    text-transform: uppercase;
}

.comment-footer {
    border: none;
}

.container-main {
    margin-top: 30%;
}

.content-container, .mpr-container {
    margin-top: 7rem;
}

.copyright {
    margin: auto;
}

.copyright-link, .copyright-link:hover, .copyright-link:active {
    color: white;
    text-decoration: none;
}

.dummy-container {
    background-image: url('https://res.cloudinary.com/bogtrotter72/image/upload/v1590854650/wfpblife/qiyk0brqjrht5vh0dt7d.jpg');
    background-position: center;
    background-size: cover;
    height: 110vh;
    position: relative;
}

.fab {
    color: white;
}

.fa-caret-down, .fa-caret-up {
    color: #b54448;
    position: absolute;
    right: 40px;
}

i.fas.fa-plus-circle, i.fas.fa-minus-circle {
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
}

.filter-options {
    display: flex;
}

.flashed {
    font-size: 0.8rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.footer-nav {
    margin: auto;
}

.footer-nav-item {
    color: white;
    display: inline;
    font-size: 0.8rem;
    list-style-type: none;
}

.home_rotw:hover {
    background-color: white;
    border: 2px solid #61a5a0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    color: #61a5a0;
    transform: translate(-50%, -1%)
}

.ingredients, .method {
    font-family: 'Raleway', sans-serif;
}

.ingredients-col-item {
    width: 50%;
}

.ingredients-col-measure {
    width: 22%;
}

.ingredients-col-qty {
    width: 12%;
}

.ingredients-form {
    margin-top: 10%;
}

.ingredients-form-control {
    font-size: 0.8rem;
}

.ingredients-row {
    font-size: 0.8rem;
    margin-left: 0%; /* Indents the margin a little */
}

.ingredients ul {
    list-style-type: none;
    padding-left: 0;
}

.input-group-text{
    background-color: #61a5a0;
    color: white;
}

.jumbotron {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    padding-top: 20px;
}

.jumbo-404 {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-text {
    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
    text-transform: uppercase;
}

.row-method {
    vertical-align: middle;
}

.method-row {
    margin-left: 0%;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar, .navbar-brand, .nav-item, .footer-outer-container {
    background-color: #61a5a0;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    z-index: 100;
}

.recipe-author {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    margin: auto;
    text-transform: uppercase;
}

.recipe-author-container {
    margin: 5% 0 10% 0;
    text-align: center;
}

.recipes-container {
    margin: 5rem 0;
}

.rotw-img, .mpr-img {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5), 0.25rem 0.35rem 0.525rem rgba(0, 0, 0, 0.2);
    display: block;
    max-width: 100%;
}

.rotw-img-small, .mpr-img-small {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5), 0.25rem 0.35rem 0.525rem rgba(0, 0, 0, 0.2);
    display: none;
    margin: auto;
    width: 100%;
}

.signlog-container {
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
}

.social-media-container {
    text-align: center;
}

.table td {
    vertical-align: middle;
}

.timings, .edit-msg {
    display: flex;
    font-size: 1rem;
    justify-content: space-evenly;
}

.title-404 {
    text-align: center;
}

/* IDs */

#accordion-icon, #accordion-icon2, #accordion-title {
    color: #b54448;
    display: inline;
    font-size: 1.4rem;
}

#add, #add-method {
    height: 2rem;
    width: 2rem;
}

#btn-filter {
    background-color: transparent;
    border: none;
    color: #28a745;
}

#card-search {
    padding: 0;
}

#card-search-body {
   padding: 0.5rem;
}

#card-search-text {
    font-size: 0.8rem;
}

#comments-title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
}

#footer-left {
    text-align: left;
}

#footer-right {
    text-align: right;
}

#popularity {
    background-color: #b54448;
    color: white;
    margin-bottom: 5%;
}

#prep_time, #cook_time, #servings {
    display: block;
    width: 45%;
}

#recipe-description {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    margin-left: 5%;
    text-transform: uppercase;
    width: 90%;
}

#recipe-search {
    padding: 20px;
}

#revolution {
    background-color: #61a5a0;
    border: none;
    color: white;
    margin: 2rem 0;
    padding: 2rem 0;
}

#revolution-inner-container {
    margin: auto;
    width: 100%;
}

#revolution_underline {
    border: 0.5px solid white;
    margin-bottom: 1rem;
    width: 70%;
}

#revolution_text {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    margin-top: 5rem;
    text-align: center;
}

#rotw-description, #mpr-description {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#rotw-title, #mpr-title, #explore-title, #recipe-title {
    color: #b54448;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
}

#row-social-media, #row-copyright {
    margin-top: 1.2rem;
}

#search-none {
    color: #b54448;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    margin: 5% 0;
    text-transform: capitalize;
}

#signlog-header, #signlog-label, #signlog-field, #signlog-submit, #signlog-back {
    font-size: 0.8rem;
}

#signlog-fieldset-group {
    margin-bottom: 0.3rem;
}

#signlog-form-group {
    margin-bottom: 0;
}

#submit-comment {
    background-color: transparent;
    border: 1px solid #b54448;
    color: #b54448;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#submit-comment:hover {
    background-color: #b54448;
    border: 1px solid #b54448;
    color: white;
}

#submit-recipe {
    background-color: #b54448;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#submit-recipe:hover {
    background-color: transparent;
    border: 1px solid #b54448;
    color: #b54448;
}

#submit-recipe-title {
    color: #b54448;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-top: 22%;
    text-transform: capitalize;
}

#view-recipe-btn, #view-recipe-btn:visited {
    backface-visibility: hidden;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    transition: all 0.15s;
}

#view-recipe-btn:hover {
    box-shadow: 0.25rem 0.25rem 0.25rem  rgba(97, 165, 160, 0.7);
    transform: translate(-50%, -5%);
}

#view-recipe-btn:active {
    box-shadow: 0.125rem 0.125rem 0.125rem  rgba(97, 165, 160, 1);
    transform: translate(-50%, 0%);
}